<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/create_model/">Create Table</a> {{key}}
    <br><br>
    <a href="/migrate/">Migrate</a> {{key}}
    <br><br>
    <a href="/revert_back/">Revert Back</a> {{key}}
    <br><br>
    <a href="/populate_master_data/">Populate Master Data</a> {{key}}
    
</body>
</html>